################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebService/TestWebApp/.vs/TestWebApp/v15
